.pagination_container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1.3rem;
    /* border: 2px solid var(--tardis-blue); */
    /* width: 300px; */
}
.btn_pagination{
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--texas);
    border: 2px solid var(--tardis-blue);
    border-radius: 15px;
    color: var(--tardis-blue);
    padding: .5rem;
}
.btn_pagination:hover{
    cursor: pointer;
    box-shadow: 0px 2px 12px 2px var(--tardis-blue);
    transition: .3s;    
}