.pagination_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.3rem;
}
.btn_pagination{
    /* width: 100px; */
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--tardis-blue);
    border: none;
    border-radius: 15px;
    color: var(--Mystery);
    padding: .5rem;
}
.btn_pagination:hover{
    cursor: pointer;
    box-shadow: 0px 2px 12px 2px var(--tardis-blue);
    transition: .3s;    
}