.cards_container_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--Mystery);
}
.cards_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:2rem;
    margin: auto;
    padding: 2rem;
    /* border: 2px solid white; */
    width: 80vw;
}